/* Exercise 3 External CSS */

/* TODO: Paragraph 1 → font-size: 16px; color: darkgreen; */
/* #p1 { font-size: 16px; color: darkgreen; } */
#p1 {font-size: 16px;
     color: darkgreen;}

/* TODO: Paragraph 2 → font-size: 1.5em; color: rgba(0,0,255,0.5); */
/* #p2 { font-size: 1.5em; color: rgba(0, 0, 255, 0.5); } */
#p2 { font-size: 1.5em;
     color: rgba(0, 0, 255, 0.5); }

/* TODO: Paragraph 3 → font-size: 2rem; text-align: center; line-height: 1.8; */
/* #p3 { font-size: 2rem; text-align: center; line-height: 1.8; } */
#p3 { font-size: 2rem; 
    text-align: center;
     line-height: 1.8; }
